.card-container{
    background-color:antiquewhite;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    margin-top: 7%;
    margin-left: 8%;
    border-radius: 3px;
    width: 22%;
    height: 50%;
} 

.card-container:hover {
    transform: scale(1.05) translate(-5px, -5px);
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

.card-image{
  width: 260px;
  height: 260px;
  position: relative;
  overflow: hidden;
  margin-left:70px;

}

.card-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.info-container{
    display : flex;
    justify-content: space-around;
    margin-top: 3% ; 
}

.about {
    color: #222;
    font-family: inherit;
    font-size: 0.7 rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-top: 1%;
}

.rating{
    display: flex;
    justify-content: flex-end;
    gap : 2px ; 
    color: #222;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
}

.rating img{
    margin-top: 11%;
    height : 15px; 
    width : 15px ; 
}

.rating span{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
    color: black;
    font-family: Poppins;
    font-size: 15px;
    font-style: bold;
    font-weight: 500;
}

.pricing{
    color: #222;
    font-family: inherit;
    font-size: px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-right: 13%;
}
