.background{
     background-image: url('../../public/background_img.jpg');
     background-size: 100% auto; 
     background-position: center; 
     width: 98.9vw;
     height: 120vh; 
}
.text {
     position: absolute;
     top: 63%;
     left: 52%;
     transform: translate(-50%, -50%);
     color: rgba(185, 114, 66, 0.796);
     font-size: 19rem;
     font-family: "Libre Bodoni", serif;
     letter-spacing: 10vw;
     text-align:center;
     /* transition:top 1s ease ; */
} 

.hideText{
     /* top:0%; */
     animation: himanshu 2s ease forwards;
     z-index: 2;
 }

 @keyframes himanshu {
     0%{
          top: 63%;
          transform: translate(-50%, -50%);
          font-size: 19rem;
          letter-spacing: 10vw;
          position: fixed;
     }
     100%{
          top:0%;
          left: 48%;
          position: fixed;
          transform: translate(-50%, 0%);
          letter-spacing: 0.2vw;
          text-align:center;
          font-size: 310%;
          color: white;
     }
 }