.background{
     background-image: url('../../public/bg-2.jpg');
     background-size: 100% auto; 
     background-position: center; 
     width: 98.9vw;
     height: 120vh; 
     position: relative;
}
.text {
     position: absolute;
     top: 30%;
     left: 55%;
     transform: translate(-50%, -50%);
     color: rgba(21, 31, 80, 0.963);
     font-size: 16rem;
     font-family: "Libre Bodoni", serif;
     letter-spacing: 3.5vw;
     text-align:center;
     z-index: 1000;
     /* transition:top 1s ease ; */
} 

.hideText{
     /* top:0%; */
     animation: himanshu 1s ease forwards;
     z-index: 1000;
 }
 .showText{
     animation: himanshu2 1s ease forwards;
 }

 @keyframes himanshu {
     0%{
          top: 30%;
          left: 55%;
          transform: translate(-50%, -50%);
          font-size: 15rem;
          letter-spacing: 2.5vw;
          position: fixed;
     }
     100%{
          top:0%;
          left: 48%;
          position: fixed;
          transform: translate(-50%, 0%);
          letter-spacing: 0.2vw;
          text-align:center;
          font-size: 310%;
          color: white;
     }
 }

 @keyframes himanshu2 {
     0%{
          top:0%;
          left: 48%;
          position: fixed;
          transform: translate(-50%, 0%);
          letter-spacing: 0.2vw;
          text-align:center;
          font-size: 310%;
          color: white;

     }
     100%{
          top: 30%;
          left: 55%;
          transform: translate(-50%, -50%);
          font-size: 15rem;
          letter-spacing: 2.5vw;
          position: fixed;
     }
 }

 /* button */

 .btn1 {
     font-family: "Libre Bodoni", serif;
     background-color: white;
     color: rgba(21, 31, 80, 0.963); 
     padding: 1% 2%; 
     border: 6px double rgba(21, 31, 80, 0.963); 
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
     transition: background-color 0.3s ease;
     position: fixed;
     margin: 35% 40%;
   }
    .btn2 {
     font-family: "Libre Bodoni", serif;
     background-color: white;
     color: rgba(21, 31, 80, 0.963); 
     padding: 1% 2%; 
     border: 6px double rgba(21, 31, 80, 0.963); 
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
     transition: background-color 0.3s ease;
     position: absolute;
     margin: 45% 40%;
   } 
 
   .btn1:hover {
     background-color: rgba(21, 31, 80, 0.963);  
     color: white;
   }
   .btn2:hover {
     background-color: rgba(21, 31, 80, 0.963);  
     color: white;
   }