.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 80vh; 
    width: 30vw;
    overflow: hidden;
    
    border: 5px solid rgba(21, 31, 80, 0.963);
  }

  img{
    width: 30vw;
    height: 80vh;
  }