.card {
    background-color: #f0f0f0;
    height: 80vh; 
    width: 30vw;
    overflow: hidden;
    
    border: 5px solid rgba(21, 31, 80, 0.963);
    border-radius: 9px;
    position: relative;
  }

  img{
    width: 30vw;
    height: 80vh;
  }
  
  .butn {
    font-family: "Libre Bodoni", serif;
    background-color: white;
    color: rgba(21, 31, 80, 0.963); 
    padding: 2% 2%; 
    /* border: 6px double rgba(21, 31, 80, 0.963);   */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    width: 50%;
    margin-top: 115%;
    margin-left: 25%;
    position: absolute;
  }
  
  .butn:hover {
    background-color:rgba(21, 31, 80, 0.963); 
    color: white;
    border: 6px double  white;
    border-radius: 5px;
  }
  